NODE_ENV=development
LOG_LEVEL=info
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_ROOT_USERNAME=app
MONGO_ROOT_PASSWORD=app_password
REDIS_HOST=localhost
REDIS_PORT=6379
GATEWAY_PORT=4000
IDENTITY_SERVICE_PORT=4001
PROJECT_SERVICE_PORT=4002
TASK_SERVICE_PORT=4003
NOTIFICATION_SERVICE_PORT=4004
